<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Page Meta -->
    <title>
      {{ block "title" . }}
      {{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Site.Title }} - {{ .Title }}{{ end }}
      {{ end }}
	</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Set theme before paint to avoid a flash -->
    <script>
      (function () {
        try {
          var t = localStorage.getItem('mint-theme');
          if (t === 'dark' || t === 'light') document.documentElement.setAttribute('data-theme', t);
        } catch (e) {}
      })();
    </script>

    <!-- Styles and fonts (all local, no external requests) -->
    <link rel="stylesheet" type="text/css" href="{{ "assets/css/normalize.css" | relURL }}" />
    <link rel="stylesheet" type="text/css" href="{{ "css/fonts.css" | relURL }}" />
    <link rel="stylesheet" type="text/css" href="{{ "css/mint.css" | relURL }}" />

    <!-- Bigfoot popover footnotes (jQuery vendored locally, no CDN) -->
    <script src="{{ "assets/jquery.min.js" | relURL }}"></script>
    <script type="text/javascript" src="{{ "assets/bigfoot/dist/bigfoot.js" | relURL }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ "assets/bigfoot/dist/bigfoot-number.css" | relURL }}" />
    <script type="text/javascript">
        $(function () { if ($.bigfoot) { $.bigfoot(); } });
    </script>

    <!-- custom css -->
    {{ range .Site.Params.customCSS }}
    <link rel="stylesheet" href="{{ "/css/" | relURL }}{{ . }}">
    {{ end }}
    {{ partial "microblog_head.html" . }}
</head>
